<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carl.netspeednotification">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">

        <!-- 友盟统计 -->
        <meta-data android:name="UMENG_APPKEY" android:value="54bcb8e0fd98c52272000041"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="xiaomi market"/>
        <!-- 百度广告 -->
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="e26c0480" />
        <meta-data android:name="BaiduMobAd_APP_SEC" android:value="e26c0480" />
        <activity android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".notification.NotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.BlankActivity" >
        </activity>
    </application>

</manifest>
